
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <h1>Image Upload:</h1>
        {{msg}}
        <input type="file" name="myimage">
        <button type="submit">Submit</button>
        
    </form>
